:root {
  /*Polar night*/
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  /*Snow storm*/
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  /*Frost*/
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  /*Aurora*/
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  font-family: Verdana, Geneva, sans-serif;
  font-size: larger;
}

html {
  background: var(--nord3);
}

body {
  background: var(--nord0);
  color: var(--nord4);

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  border: 5px outset var(--nord4);
}

a {
  color: var(--nord15);
}

a:hover {
  color: var(--nord10);
}

h1 {
  color: var(--nord11);
  text-align: center;
}

h2 {
  color: var(--nord12);
}

h3 {
  color: var(--nord13);
}

/* menu bar */
nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menubar li a {
    display: block;
}

.menubar {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
}

.menubar li {
	display: block;
	float: left;
	width: 130px;
    min-height: 1.5em;
    background: var(--nord1);
    padding: 3px;
    margin: 4px;
}

.menubar li:hover {
    background: var(--nord2);
	color: var(--nord5);
}

.menubar li ul {
	visibility: hidden;
	position: absolute;
	padding-top: 10px;
}

.menubar li:hover ul {
	visibility: visible;
    padding-left: 0;
    margin-left: -7px;
}

.menubar li ul li {
    float: none;
    position: relative;
    width: 130px;
    text-align: center;
}

/* image gallery */
div.gallery {
  margin: 5px;
  border: 1px solid var(--nord6);
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid var(--nord15);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
