:root {
  /*Polar night*/
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  /*Snow storm*/
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  /*Frost*/
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  /*Aurora*/
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  /*paleta*/
  --fondo: #4c566a;
  --texto: #eceff4;
  --encabezados: #d8dee9;
  --enlaces: #a3be8c;
  --detalles: #bf616a;
  font-family: Verdana, Geneva, sans-serif;
  font-size: larger;
}

html {
  background: var(--fondo);
}

body {
  background: var(--fondo);
  color: var(--texto);

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  border: 5px outset var(--detalles);
}

a {
  color: var(--enlaces);
}

a:hover {
  color: var(--detalles);
}

h1 {
  color: var(--encabezados);
  text-align: center;
}

h2 {
  color: var(--encabezados);
}

h3 {
  color: var(--encabezados);
}

nav {
	text-align: center;
}

footer {
	text-align: center;
}
