Options +Indexes
AddDescription "On the update of the book recommendations page" "200326on-the-update-of-the-book-recommendations-page.html" #Thu, 26 Mar 2020 13:24:27 -0700
AddDescription "On why ProtonMail is not any better than Gmail" "20200330on-why-protonmail-is-not-any-better-than-gmail.html"
AddDescription "Sobre la necesidad e imposibilidad de la cuarentena" "20200407sobre-la-necesidad-e-imposibilidad-de-la-cuarentena.html" #Tue, 07 Apr 2020 11:19:14 -0600
AddDescription "About why I have not posted anything" "20200420about-why-i-have-not-posted-anything.html" #Mon, 20 Apr 2020 17:59:41 -0600
AddDescription "A new dynamic" "20200502a-new-dynamic.html" #Sat, 02 May 2020 21:19:28 -0600
AddDescription "April first week album: Keep Talkin' from Yoko Miwa Trio" "20200503april-first-week-album-keep-talkin-from-yoko-miwa-trio.html"
AddDescription "Sobre un empleo culero/Sobre el empleo en México" "20200602sobre-un-empleo-culerosobre-el-empleo-en-mexico.html"
AddDescription "Sobre ser un niño de rancho (racismo, clasismo, LBGT-fobia)" "20200603sobre-ser-un-nino-de-rancho-racismo-clasismo-lbgtfobia.html" #Sat, 06 Jun 2020 02:18:44 -0600
AddDescription "I am done with everything" "20200701i-am-done-with-everything.html" #Wed, 01 Jul 2020 20:28:49 -0600
AddDescription "On the new pages" "20200708on-the-new-pages.html" #Wed, 08 Jul 2020 12:50:38 -0600
AddDescription "Host change" "20200901host-change.html" #Tue, 01 Sep 2020 22:48:10 -0600
AddDescription "Fresh website" "20200907fresh-website.html" #Mon, 07 Sep 2020 15:18:00 -0600
AddDescription "Failing on email server" "20200912failing-on-email-server.html" #Sat, 12 Sep 2020 14:13:48 -0600
