Options +Indexes
AddDescription "On the update of the book recommendations page" "200326on-the-update-of-the-book-recommendations-page.html" #Thu, 26 Mar 2020 13:24:27 -0700
AddDescription "On why ProtonMail is not any better than Gmail" "20200330on-why-protonmail-is-not-any-better-than-gmail.html"
AddDescription "Sobre la necesidad e imposibilidad de la cuarentena" "20200407sobre-la-necesidad-e-imposibilidad-de-la-cuarentena.html" #Tue, 07 Apr 2020 11:19:14 -0600
AddDescription "About why I have not posted anything" "20200420about-why-i-have-not-posted-anything.html" #Mon, 20 Apr 2020 17:59:41 -0600
